$primary-color: #003049;
$second-color: #D62828;
$third-color: #F77F00;
$four-color: #FCBF49;
$fift-color: #EAE2B7;

$primary-font: 'Poppins', sans-serif;
$second-font: 'Nothing You Could Do', cursive;